@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Circular STD";
    src: url("../public/CircularStd-Bold.woff") format("woff");
  }
  html {
    font-family: Circular STD;
  }
  p {
    font-family: inter;
  }
}
